  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
}

body {
  display: flex;
  flex-direction: column; 
}

img {
  width: 380px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
  padding: 20px 10px;
  color: white;
}

a {
  text-decoration: none;
}

.left-logo {
  font-size: 2.5rem;
  font-weight: 600;
}

.header ul {
  display: flex;
  background-color: #424a79;
  align-items: center;
  justify-content: space-evenly;
}

.right-links {
  text-decoration: none;
  color: rgb(167, 157, 157);
  transition: .5s color;
}

.right-links:hover,
.right-links:focus {
  color: white;
}

.hero-button {
  border: none;
  border-radius: 8px;
  background-color: #3882f6;
}

.right {
  display: flex;
}

.container {
  display: flex;  
  align-items: cente;
  justify-content: center;
  background: #1f2947;
  color: white;
  padding-top: 10px;
  gap: 8px;
}

.container button {
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  height: auto;
}

img {
  max-width: 90%;
  max-height:96%;
  border: 1px solid crimson;
  flex: 1 1 auto;
}

.text {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 0;
}

.items {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 25px;
}

.items div {
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 30%;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.items .stuff {
  text-align: center;
}

.stuff {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  color: #181414;
}

.title {
  font-size: 36px;
  text-align: center;
}

.img {
  height: 75%;
  width: 75%;
  border-radius: 8px;
  border: 5px solid blue;
}

.quote-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 9rem;
  margin-top: 5rem;
  flex: 1;
  background: #E5E7EB;
  color: #1f2937;
  flex-direction: column;
  gap: 15px;
}

.quote {
  font-size: 36px;
  font-weight: light;
  margin-left: 6.5rem;
}

.quote-name {
  display: flex;
  font-weight: 700;
}

.box-holder {
  padding: 60px;
  margin: 6rem 200px;
  background: #3882f6;
  border-radius: 10px;
  display: flex;
}

.box {
  color: white;
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  gap: 8px;
  margin-left: 20px;
}

.box h3 {
  font-size: 25px;
}

.box-button {
  display: flex;
  margin-left: 8rem;
  align-items: center;
}

.box-button button {
  background: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 1000;
  font-size: 14px;
  padding: 5px 30px;
  transition:  .8s color;
  transition: .1s background;
}

.box-button button:hover,
.box-button button:focus {
  color: #3882f6;
  background: white;
}


.footer-text {
  margin-top: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bdc1d8;
}

.footer-text p {
  color: rgb(27, 24, 24);
}
